@import "tailwindcss";
.sidebar {
  width: 220px;
  min-height: 100vh;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar .nav-link {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar .nav-link i {
  font-size: 16px;
}
